# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard]
path: ~/printer_data/gcodes

[display_status]

[pause_resume]

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
gcode:
  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

[gcode_macro G29]
gcode:
  G28
  G1 Z10 F600
  BED_MESH_CALIBRATE

[gcode_macro CALIBRATE_BED_MESH]
gcode:  
  G1 Z10 F600
  BED_MESH_CALIBRATE

[gcode_macro LOAD_FILAMENT]
description: Loading new filament
gcode:
  M104 S220
  M109 S220
  G91
  G1 E50 F60  
  M104 S0

[gcode_macro RELEASE_FILAMENT]
description: Release filament for change
gcode:
  M104 S220
  M109 S220
  M104 S0

[gcode_macro PREPARE_PLA]
description: Prepare for PLA printing
gcode:
  M140 S60
  M190 S60
  G28
  SCREWS_TILT_CALCULATE

[gcode_macro PREPARE_ABS]
description: Prepare for TPU printing
gcode:
  M140 S100
  M190 S100
  G28
  SCREWS_TILT_CALCULATE

[gcode_macro PREPARE_TPU]
description: Prepare for TPU printing
gcode:
  M140 S40
  M190 S40
  G28
  SCREWS_TILT_CALCULATE

[gcode_macro PREPARE_PETG]
description: Prepare for PETG printing
gcode:
  M140 S90
  M190 S90
  G28
  SCREWS_TILT_CALCULATE

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 265
homing_speed: 100

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 230
homing_speed: 100

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
# position_endstop: 0.0
position_min: -5
position_max: 180

[extruder]
pressure_advance = 0.275
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
rotation_distance: 23.575
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 260

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
# tuned for stock hardware with 50 degree Celsius target
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
baud: 250000
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[mcu rpi]
serial:/tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:  
  117.5,157.5,20

[input_shaper]
shaper_freq_x: 62.6
shaper_freq_y: 36
shaper_type: mzv

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3500
max_accel_to_decel: 3500
max_z_velocity: 5
max_z_accel: 100

[bltouch]
sensor_pin: ^PB1
control_pin: PB0
probe_with_touch_mode: True
samples: 1
samples_tolerance_retries: 1
x_offset: -47.5
y_offset: -10

[safe_z_home]
home_xy_position: 117.5,117.5 # Change coordinates to the center of your print bed
speed: 100
z_hop: 10 # Move up 10mm
z_hop_speed: 20

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 20,20
mesh_max: 205,205
probe_count: 5,5
# relative_reference_index: 12
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[screws_tilt_adjust]
screw1: 80,45
screw1_name: front left screw
screw2: 250,45
screw2_name: front right screw
screw3: 250,220
screw3_name: rear right screw
screw4: 80,220
screw4_name: rear left screw
horizontal_move_z: 5
speed: 200
screw_thread: CW-M4

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.327500, -0.317500, -0.292500, -0.297500, -0.322500
#*# 	  -0.140000, -0.057500, -0.062500, -0.062500, -0.102500
#*# 	  -0.022500, 0.002500, 0.000000, -0.022500, -0.075000
#*# 	  -0.080000, -0.075000, -0.057500, -0.070000, -0.122500
#*# 	  -0.220000, -0.212500, -0.190000, -0.210000, -0.252500
#*# tension = 0.2
#*# min_x = 20.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 20.0
#*# x_count = 5
#*# max_y = 205.0
#*# mesh_x_pps = 2
#*# max_x = 205.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 72.363
#*# pid_ki = 1.453
#*# pid_kd = 900.915
#*#
#*# [bltouch]
#*# z_offset = 2.950
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 25.807
#*# pid_ki = 1.639
#*# pid_kd = 101.614
